@font-face {font-family: "Alwyn New Rounded";
    src: url("./fonts/Alwyn.eot"); /* IE9*/
    src: url("./fonts/Alwyn-iefix.eot") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Alwyn.woff2") format("woff2"), /* chrome firefox */
    url("./fonts/Alwyn.woff") format("woff"), /* chrome firefox */
    url("./fonts/Alwyn.ttf") format("truetype"); /* chrome firefox opera Safari, Android, iOS 4.2+*/
}


@font-face {font-family: "Dessau-Medium";
    src: url("./fonts/Dessau-Medium-IE9.eot"); /* IE9*/
    src: url("./fonts/Dessau-MediumIE6to8.eot") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Dessau-Medium-chrome-firefox.woff2") format("woff2"), /* chrome firefox */
    url("./fonts/Dessau-Medium-chrome-firefox.woff") format("woff"), /* chrome firefox */
    url("./fonts/Dessau-Medium-all.ttf") format("truetype"); /* chrome firefox opera Safari, Android, iOS 4.2+*/
}